.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color: aquamarine;

}
.share-wrapper{
    padding: 15px;
}
.share-top{
    display: flex;
    align-items: center;
}
.share-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.share-input{
    border: none;
    outline: none;
    width: 80%;
    background-color: transparent;
}
.share-hr{
    margin: 10px 0;
}
.share-bottom{
display: flex;
align-items: center;
justify-content: space-between;

}
.share-options{
    display: flex;align-items: center;
    justify-content: space-between;
}
.share-option{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.share-icon{
    margin-right: 10px;
    font-size: 18px;
}
.share-btn{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: firebrick;
}
@media only screen and (max-width: 600px) {
    .share-wrapper{
        
    }
    .share-options{
        justify-content: center;
    }
   .share-option{
    margin-right: 5px;
    font-size: 15px;
   }
   .share-btn{

   }
   .share-option .share-text{
    
   }
   .share-option.location{
    display: none;
   }
  }