.rightbar{
    flex: 4;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
    top: 50px;
}
.rightbar-wrapper{
    padding: 20px 20px 0 0;
}
.birthday-container{
   
   display: flex;
   align-items: center;
}
.birthday-container img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.birthday-container span{
    font-weight: 300;
    font-size: 15px;
}

.rightbar-ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightbar-title{
    margin-bottom: 20px;
    margin-top: 30px;
}
.rightbar-friend-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightbar-friend{
display: flex;align-items: center;
margin-bottom: 5px;
padding: 10px 5px;
border-radius: 5px;
cursor: pointer;
}
.rightbar-friend:hover{
    background-color: aliceblue;
}
.rightbar-friend div{
    position: relative;
    
}
.rightbar-friend div img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.rightbar-friend-online{
    width: 12px;
    height: 12px;
    background-color: lightgreen;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 10px;
    border: 2px solid #fff;
}
.rightbar-username{
 font-weight: 500;
}